.sectionun{
    background-image: url(../../../public/img/banner-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height:580px;
    width:100%;
    color:white;
    div{
        text-align:center;
        width: 30%;
        h4{
            font-size: 17px;
        }
        h1{
            font-size:45px;
        }
        button{
            border:none;
            background-color: #d46442;
            color: white;
            height: 40px;
            width: 200px;
            margin-top: 25px;
            border-radius: 5px;
        }
    }
}
@media(max-width:640px){
    
            .pp{display:none;}
        
    
}
